:host {
  display: block;
}

.permissions-section {
}

.drop-container-block {
  width: max(48%, 400px);
  overflow-x: auto;
  max-height: 400px;
  min-height: 200px;
}

.actions-section {
  button {
    margin-left: 10px;
  }
}
