<div class="align-center">
  <h1>Контакты</h1>
  <span class="spacer"></span>
  <ww-search-field
    class="default-text-input"
    label="Поиск по контактам"
    placeholder="Начните вводить"
    (searchChanged)="changeContactsSearch($event)"
  ></ww-search-field>
  <ww-search-field
    class="default-text-input"
    appearance="fill"
    label="Ответственный"
    placeholder="Введите имя или фамилию"
    [displayWith]="displayUser"
    [options]="(users$ | async) ?? []"
    [selectedItems]="selectedAssignee ? [selectedAssignee] : []"
    (optionRemoved)="changeContactAssigneeFilter(undefined)"
    (optionSelected)="changeContactAssigneeFilter($event)"
    (searchChanged)="changeUsersSearch($event)"
  ></ww-search-field>
</div>
<ww-dynamic-table
  class="mat-elevation-z6"
  [columnDefinitions]="columnDefinitions"
  [dataSource]="contacts$"
  [length]="(contactsTotal$ | async) || 0"
  (pageChange)="changeContactsPage($event)"
  (sortChange)="changeContactsSort($event)"
></ww-dynamic-table>
