<div class="align-center">
  <h1>Пользователи</h1>
  <span class="spacer"></span>

  <ww-autocomplete
    class="default-text-input"
    label="Поиск по пользователям"
    placeholder="Начните вводить"
    (searchChanged)="setUsersSearch($event)"
  ></ww-autocomplete>

  <button mat-raised-button>
    Добавить
  </button>
</div>

<ww-dynamic-table
  class="mat-elevation-z6"
  [columnDefinitions]="tableColumns"
  [dataSource]="(users$ | async) ?? []"
  [length]="(usersTotal$ | async) ?? 0"
  (pageChange)="setUsersPage($event)"
  (sortChange)="setUsersOrder($event)"
></ww-dynamic-table>
