:host {
  cursor: pointer;
}

img.preview {
  border-radius: 8px;
  width: 100%;
  height: 160px;
  object-fit: cover;

  &.placeholder {
    object-fit: contain;
  }
}

.asset-description {
  border-top: 1px solid rgba(0,0,0,.2);
  height: 48px;
  padding-left: 16px;
  user-select: none;

  &.selected {
    background-color: #E8F0FEFF;
    color: #1967d2;
  }

  span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
     max-width: calc(100% - 56px);
  }

  mat-icon {
    margin-right: 5px;
  }
}
