:host {
  display: flex;
  flex-direction: column;
}

.router-link {
  cursor: pointer;
  text-decoration: underline;
}

.table-container {
  overflow-x: auto;
  flex: 1 1 auto;
}

mat-paginator {
  flex: 1 1 auto;
}

table {
  width: 100%;
}
