<table mat-table [dataSource]="dataSource">
  <ng-container
    [matColumnDef]="column.name"
    *ngFor="let column of columns"
  >
    <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
    <td
      mat-cell
      [innerHTML]="getCellHtml(column, row)"
      *matCellDef="let row"
    ></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnNames;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td [colSpan]="displayedColumnNames.length">
      <div class="full-width justify-center">
        <span>{{noDataMessage}}</span>
      </div>
    </td>
  </tr>
</table>
<mat-paginator
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageChange.emit({ size: $event.pageSize, index: $event.pageIndex })"
  *ngIf="showPaging"
></mat-paginator>
