:host {
  display: block;
  height: calc(90vh - 70px);
  width: calc(80vw - 70px);
}

.max-size {
  height: calc(100% - 50px);
  width: auto;
}

img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

embed {
  width: auto;
}
