@use "variables" as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.pad-page-content {
  padding: 16px;
  box-sizing: border-box;
}

.align-center {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.justify-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.place-center {
  display: grid;
  place-items: center center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size {
  @extend .full-height;
  @extend .full-width;
}

.no-margin {
  margin: 0;
}

.relative {
  position: relative;
}

.default-text-input {
  width: min(400px, 100%);
}

.error-alert {
  color: $alert-red-text-color;
  background-color: $alert-red-background-color;
}

.warning-alert {
  color: $alert-orange-text-color;
  background-color: $alert-orange-background-color;
}

.info-alert {
  color: $alert-blue-text-color;
  background-color: $alert-blue-background-color;
}

.success-alert {
  color: $alert-green-text-color;
  background-color: $alert-green-background-color;
}

.pill {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  padding: 4px 8px;
  text-transform: uppercase;

  &--light {
    opacity: 0.6;
  }

  &--orange {
    color: $alert-orange-text-color;
    background-color: $alert-orange-background-color;
  }

  &--green {
    color: $alert-green-text-color;
    background-color: $alert-green-background-color;
  }

  &--red {
    color: $alert-red-text-color;
    background-color: $alert-red-background-color;
  }

  &--blue {
    color: $alert-blue-text-color;
    background-color: $alert-blue-background-color;
  }
}
