@use "variables" as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.x-scrollable {
  overflow-x: auto;
}

.empty-page-message {
  opacity: 0.6;
  font-size: 18px;
}

.empty-page-description {
  opacity: 0.6;
  font-size: 14px;
}

.spacer {
  flex: 1 1 auto;
}

.pad-page-content {
  display: block;
  padding: 16px;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stick-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.align-center {
  @extend .flex-row;
  align-content: center;
  align-items: center;
}

.justify-center {
  @extend .flex-row;
  justify-content: center;
}

.place-center {
  display: grid;
  place-items: center center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size {
  @extend .full-height;
  @extend .full-width;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.small-gap {
  gap: 1rem;
}

.bottom-right-corner {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.relative {
  position: relative;
}

.default-text-input {
  width: min(400px, 100%);
}

.error-alert {
  color: $alert-red-text-color;
  background-color: $alert-red-background-color;
}

.warning-alert {
  color: $alert-orange-text-color;
  background-color: $alert-orange-background-color;
}

.info-alert {
  color: $alert-blue-text-color;
  background-color: $alert-blue-background-color;
}

.success-alert {
  color: $alert-green-text-color;
  background-color: $alert-green-background-color;
}

.pill {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  padding: 4px 8px;
  text-transform: uppercase;

  &--light {
    opacity: 0.6;
  }

  &--orange {
    color: $alert-orange-text-color;
    background-color: $alert-orange-background-color;
  }

  &--green {
    color: $alert-green-text-color;
    background-color: $alert-green-background-color;
  }

  &--red {
    color: $alert-red-text-color;
    background-color: $alert-red-background-color;
  }

  &--blue {
    color: $alert-blue-text-color;
    background-color: $alert-blue-background-color;
  }
}

.mat-border {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 8px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag {
  cursor: move;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
