$alert-red-text-color: rgb(97, 26, 21);
$alert-red-background-color: rgb(253, 236, 234);
$alert-blue-text-color: rgb(13, 60, 97);
$alert-blue-background-color: rgb(232, 244, 253);
$alert-orange-text-color:  rgb(102, 60, 0);
$alert-orange-background-color: rgb(255, 244, 229);
$alert-green-text-color:  rgb(30, 70, 32);
$alert-green-background-color: rgb(237, 247, 237);
