<mat-toolbar
  color="primary"
  class="mat-elevation-z6"
  *ngIf="toolbarVisible$ | async"
>
  <section>
    <button
      mat-button
      routerLinkActive="header-time-active"
      (click)="button.click && button.click()"
      [routerLink]="button.link ? button.link : undefined"
      *ngFor="let button of leftSectionButtons$ | async"
    >
      <mat-icon *ngIf="button.icon">{{button.icon}}</mat-icon>
      <ng-container *ngIf="button.label">{{button.label}}</ng-container>
    </button>
  </section>

  <span class="spacer"></span>

  <section>
    <button mat-icon-button [mat-menu-trigger-for]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </section>
</mat-toolbar>

<mat-menu #profileMenu="matMenu">
  <button
    mat-menu-item
    (click)="button.click && button.click()"
    [routerLink]="button.link ? button.link : undefined"
    *ngFor="let button of profileMenuActions$ | async"
  >
    {{button.label}}
  </button>
</mat-menu>
