.dashed-border {
  border: 1px dashed;
}

%picker-content {
  width: min(380px, 90vw);
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-picker-container {
  @extend %picker-content;
  height: 120px;

  .text {
    opacity: 0.8;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

.files-list {
  @extend %picker-content;

  .file-item {
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}
